/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
}

section {
}

#left {
	float:left;
	background: #666;
	padding:20px;
	width:33.333%;
	color:white;
}

#middle {
	float:left;
	background: #888;
	padding:20px;
	width:33.333%;
	color:white;
}

#right {
	float:right;
	background: #666;
	padding:20px;
	width:33.33%;
	color:white;
}

#full {
	clear:both;
	background: #eee;
	width:100%;
	padding:20px;
	margin-top:40px;
	height:350px;

}

#division {
	width:98%;
	background: #6ea3da;
	padding:20px;
	margin:20px;

}

aside {
	float:left;
	background:white;
	margin-left:50px;
	width:300px;
	height:300px;
}

footer {
	background:#ccc;
	padding:20px;
}
